{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="{% url 'car_list' %}"><span class="glyphicon glyphicon-list"></span> Car List</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Login</a></li>
        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      </ul>
    </div>
{% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3' style=" border: 1px solid #9cb4dc; 
border-radius: 50px 20px;
box-shadow:  -1px 1px #c5d1e6,
     -2px 2px #9cb4dc,
     -3px 3px #9cb4dc,
     -4px 4px #9cb4dc,
     -5px 5px #9cb4dc; margin-left: 32%; max-width: 600px; padding: 75px; background-color: white; ">
    <h1>{{ title }}</h1><hr>

    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="{{ title }}"/>
        </div>

</form>
</div>
{% endblock %}